<div class="container-fluid">
    <div class="upper-section text-center">
        <h2><img class="home-logo mt-4 mb-4"
                src="../../../assets/gili_Logo's/New SVG Logos/(Blue)gili.co.in Svg-Logo.svg" alt="logo"> for Travel
        </h2>
        <h3>"Your Journey, Our Protection: Making Every Journey Secure"</h3>
    </div>

    <div class="sub-head w-50 d-flex justify-content-center">
        <p class="text-center">Elevate Your Odyssey With Seamless Solutions!</p>
    </div>

    <div class="bottom-section">
        <div class="cards-section container d-flex justify-content-around flex-wrap">

            <div class="card one-time d-flex flex-direction-column justify-content-around align-items-center"
                style="width: 18rem;">
                <div class="cardbody">
                    <div class="title-icon d-flex justify-content-around align-items-center">
                        <p class="mb-0">One-Time Journey</p>
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Icons/Single adventure.svg" alt=" one time icon">
                    </div>
                    <div class="body-image">
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Illustrations/One time journey Island SVG.svg"
                            alt="one time journey">
                    </div>
                </div>

                <div class="cardfooter">
                    <p>Explore Once:<br>
                        Single-Trip Coverage</p>
                </div>
            </div>

            <div class="card multiple-adventure" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card student-voyage" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>

</div>