

<div class="row container m-auto" style="margin-top:100px !important ;">
  <div class="col-9  ">
    <router-outlet>
      
    </router-outlet>
  </div>

  <div class="col  quote-summary">
    <div class="text-center" style="padding-top: 12px">
      <p class="quote">
        Quote Number: <span> 7629918EFGH <img src="" alt="" /></span>
      </p>
      <div></div>
    </div>
    <div class="row">
      <div class="col summary-heading">
        <h2 class="summary-title">Trip Summary</h2>
      </div>
      <div class="policy-content">
        <div style="text-align: center">
          <img
            src="../../../assets/Travel_Page_Assets/Form Screen/Icons/Company Policy Frame.svg"
            alt=""
          />
          <p class="policy-details">Policy Details</p>
        </div>
        <div>
          <p class="summary-details">
            Depature Date : <span>11/01/2023 </span>
          </p>
          <p class="summary-details">
            Depature Date : <span> 11/10/2023</span>
          </p>
          <p class="summary-details">Destination : <span> Singapore</span></p>
          <p class="summary-details">
            Resident of : <span> Mumbai, India</span>
          </p>
        </div>
      </div>
    </div>
    <!--   coverage Benfits -->
    <div class="row">
      <div class="col summary-heading">
        <h2 class="summary-title">Coverage Benefits</h2>
      </div>
      <div class="summary-content">
        <p class="summary-details">Medical Coverage : <span> 32,498</span></p>
        <p class="summary-details">
          Passport lost Coverage : <span> 1500</span>
        </p>
        <p class="summary-details">
          Baggage lost Coverage : <span> 4000</span>
        </p>
        <p>Primary</p>
      </div>
    </div>
    <!--  Trip Costing -->
    <div class="row">
      <div class="col summary-heading">
        <h2 class="summary-title">Trip Costing</h2>
      </div>
      <div class="summary-content">
        <p class="summary-details">Insurance Cost : <span> 5,000</span></p>
        <p class="summary-details">18% GST Cost : <span> 900</span></p>
        <p class="summary-details">Total Cost : <span> 5900</span></p>
      </div>
    </div>
    <!-- 
Information -->
    <div class="row">
      <div class="col summary-heading">
        <p class="summary-content summary-details">
          If any of this information is incorrect, please edit your quote.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row border">
  <div class="col content">
    <h1>Purchase Policy</h1>
    <div>
      <p>
        Kindly complete the sections below and click on " Proceed " Immediate
        confirmation will be provided on screen and sent to your email
      </p>
    </div>
  </div>
</div>
 -->
