<div class="container-fluid">
  <div class="row">
    <div class="col d-flex">
      <div>
        <p>Select Destination & Travelers</p>
        <img src="" alt="" />
      </div>
      <div>
        <p>Enter Contact Details</p>
        <img src="" alt="" />
      </div>
      <div>
        <p>Compare Quotes</p>
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>“Travel worry-free with best Insurance Coverages!”</h1>
    </div>
  </div>

  <div class="row">
    <div class="col" style="text-align: center;">
      <img class="travel-image" src="../../../assets/Travel_Page_Assets/Single Trip Flow/Illustrations/Go Travel Illustration Group.svg"
        alt="" />
    </div>

    <div class="col">
      <div class="border">
        <div style="background: #EBF4FF;">
          <p class="title mb-0">Ready to Explore a New Horizon?</p>
        </div>

      </div>

    </div>

  </div>