.cola {
    border: black 1px solid
}

h1 {
    color: #535353;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: 0.04rem;
}
.progressbar-container{
   text-align: center;
}
.circle{
    width: 3px;
height: 3px;
    border-radius: 64px;
background: #37AFD4;

}

.travel-image {
    width: 95%;
}