<div class="container-fluid">
  <div class="row">
    <div class="col d-flex">
      <div>
        <p>Select Destination & Travelers</p>
        <img src="" alt="" />
      </div>
      <div>
        <p>Enter Contact Details</p>
        <img src="" alt="" />
      </div>
      <div>
        <p>Compare Quotes</p>
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>“Travel worry-free with best Insurance Coverages!”</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" style="text-align: center">
      <img
        class="travel-image"
        src="../../../assets/Travel_Page_Assets/Single Trip Flow/Illustrations/Go Travel Illustration Group.svg"
        alt=""
      />
    </div>

    <div class="col-lg-6">
      <div class="container1 border">
        <div
          class="border d-flex justify-content-center"
          style="background: #ebf4ff; width: 684px;
          height: 104px;"
        >
          <img
            src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Back Arrow Icon.svg"
            alt=""
          />
          <p class="title mb-0">Ready to Explore a New Horizon?</p>
        </div>
       <!--  selection form starts -->

        <div class="cola">
            <div>
                <p>Choose Your Destination <span style="color: #E43F52;">*</span></p>
                <div class="d-flex inputcontainer" >
                    <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Search Glass Icon.svg" alt="">
                   <span><select name="" id="">Enter Your Destination
                    <option selected>Enter Destinations</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option></select>
                </span>
                    <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Chevron-down.svg" alt="">
                </div>
            </div>
            
        </div>








      </div>
    </div>
  </div>
</div>
