<div class="form-card card">

    <div class="card-header d-flex align-items-center">
        <div class="card-sub-header d-flex justify-content-between align-items-center w-100">
            <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Back Arrow Icon.svg" alt=""
                routerLink="" />
            <p class="title mb-0">Final Step to Secure your adventure</p>
        </div>

    </div>

    <div class="card-body form-section-body">
        <form>

            <div class="mb-3">
                <label class="form-label">Page 3 <span class="astrick">*</span></label>
                <div class="input-section border d-flex justify-content-between align-items-center">

                    <div class="search-div border d-flex justify-content-center align-items-center">
                        <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Search Glass Icon.svg"
                            alt="">
                    </div>
                    <input type="text" class="form-control shadow-none destination-input" id="text"
                        placeholder="Enter Your Destination">
                    <div class="down-arrow-div border d-flex justify-content-center align-items-center">
                        <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Chevron-down(Gray-Calender)-Icon.svg"
                            alt="">
                    </div>

                </div>

            </div>

            <div class="mb-3">
                <label class="form-label">Page 3 <span class="astrick">*</span></label>
                <div class="input-section border d-flex justify-content-between align-items-center">

                    <div class="search-div border d-flex justify-content-center align-items-center">
                        <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Arrow-left(Back for Input Folder)Icon.svg"
                            alt="">
                    </div>

                    <select class="form-select shadow-none w-25" id="inputGroupSelect01">
                        <option selected>November</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                    </select>

                    <select class="form-select shadow-none w-25" id="inputGroupSelect01">
                        <option selected>2022</option>
                        <option value="1">2023</option>
                        <option value="2">2024</option>
                        <option value="3">2025</option>
                    </select>

                    <div class="down-arrow-div border d-flex justify-content-center align-items-center">
                        <img style="transform: rotate(180deg);"
                            src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Arrow-left(Back for Input Folder)Icon.svg"
                            alt="">
                    </div>

                </div>
            </div>

            <div class="submit-btn-div text-center">
                <button type="button" class="btn submit-btn" replaceUrl="true"
                    routerLink="/travel-destination/get-otp">Next</button>
            </div>

        </form>
    </div>
</div>