<div class="row" style="margin-right: 40px">
    <div class="form-holder">
      <div class="row">
        <div class="col">
          <div style="margin-top: 12px">
            <div class="form-heading">
              <h1>Medical Details </h1>
              <div class="form-pages">
                <div class="page-no"><p class="mb-0">1</p></div>
                <div class="page-no"><p class="mb-0">2</p></div>
                <div class="page-no"><p class="mb-0">3</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="medical-details">
                <!-- <h1>Medical Details</h1> -->
                <p>
                    Do you have any pre-existing Medical Conditions?*
                </p>
                <p id="med-description">Please select YES if you have a medical condition that requires you to take medications on regular basis</p>
                <div class="button-style">
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Yes</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">No</button>
                </div> 
                <div style="margin-top:16px ;">
                    <p>Have you ever claimed under Travel Insurance?<span>*</span></p>
                </div>
                <div class="button-style">
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Yes</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">No</button>
                </div>
                <div style="margin-top:16px ;">
                   <p> Do you have any of the diseases mentioned  below?<span>*</span></p>
                   <div class="button-style">
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Diabetes</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Heart Conditions</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Asthma</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Cancer</button>
                 </div>
                   </div>
                <div class="button-style" >
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Respiratory Conditions</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Arthritis</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Digestive Disorders</button>
                     <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Others</button>
                </div>
    
            
            
            </div>
            <div style="margin-top:16px ;">
                <input type="checkbox">I have read all the details and give conirmation that all details added are correct
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 12px">
        <div class="col" style="margin-top: 12px">
          <div class="btn-content">
            <div>
              <button class="btn-ekyc" routerLink="/traveller-form/kyc-nominee"><img id="leftarrow" src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg" alt=""> Back </button>
            </div>
            <div>
              <button class="btn-ekyc" routerLink="/traveller-form/verify-form" replaceUrl="tue">Next <img src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg" alt=""> </button>
            </div>
      
        </div>
      </div>
      </div>
    </div>
    
</div>