<div class="row container m-auto">
  <div class="col-9 cola form-detail-content">
    <h1 class="title">Purchase Policy</h1>
    <div>
      <p>
        Kindly complete the sections below and click on <span> " Proceed " </span>Immediate confirmation will be provided on screen and sent to your email
      </p>
    </div>
    <div class="row">
      <div class="col-lg cola">
        <h1>Enter Traveler Information</h1>
        <div class="traveller-form">
          <div class="traveller-form-heading">
            <h1>Traveler Details</h1>
            <!-- first name lastname and surnam -->
            <div class="form-spacing justify-content-between">
              <div class="form-content">
                <label for="fname" class="form-label"
                  >First Name <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
              <div class="form-content">
                <label for="fname" class="form-label"
                  >Middle Name <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>

              <div class="form-content">
                <label for="fname" class="form-label"
                  >Surname<span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
            </div>

            <!-- dob gender passportnumber -->
            <div class="form-spacing ">
              <div class="form-content" style="width:30%">
                <label for="fname" class="form-label">DOB <span>*</span></label>
                <input class="form-name" type="date" class="form-control" />
              </div>
              <div  class="form-content" style="width:15%">
                <label for="fname" class="form-label"
                  >Gender <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>

              <div  class="form-content">
                <label for="fname" class="form-label"
                  >Passport Number <span>*</span></label
                >
                <input style="width:49%" class="form-name" type="name" class="form-control" />
              </div>
            </div>
            <!--    Email Id Phone Number Alternate Phone Number -->
            <div class="form-spacing justify-content-between">
              <div class="form-content">
                <label for="fname" class="form-label"
                  >Email ID <span>*</span></label
                >
                <input class="form-name" type="email" class="form-control" />
              </div>
              <div class="form-content">
                <label for="fname" class="form-label"
                  >Phone Number<span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>

              <div class="form-content">
                <label for="fname" class="form-label"
                  >Alternate Phone Number <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
            </div>

            <!-- addressline 1 addressline 2 adress line 3 -->
            <div class="form-spacing justify-content-between">
              <div class="form-content">
                <label for="fname" class="form-label"
                  >Address line 1<span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
              <div class="form-content">
                <label for="fname" class="form-label"
                  >Address line 2 <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>

              <div class="form-content">
                <label for="fname" class="form-label"
                  >Address line 3 <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
            </div>

            <!--    state city pin code -->
            <div class="form-spacing justify-content-between">
              <div class="form-content">
                <label for="fname" class="form-label"
                  >State<span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
              <div class="form-content">
                <label for="fname" class="form-label"
                  >City <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>

              <div class="form-content">
                <label for="fname" class="form-label"
                  >Pin Code <span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
ekyc detail -->
    <div class="row">
      <div class="col">
        <div class="ekyc-details ">
          <h1>EKYC Details</h1>
          <div>
            <div class="ekyc-contents ">
              <div>
                <label for="kyc" class="form-label"
                  >Choose KYC Type<span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
              <div>
                <label for="number" class="form-label"
                  >PAN Card Number<span>*</span></label
                >
                <input class="form-name" type="name" class="form-control" />
              </div>
              <div>
                <label for="fname" class="form-label"> </label>
                <div></div>
                <button class="btn-ekyc">
                  Verify <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Chevron-down.svg" alt="">
                </button>
                <!-- <button>Verify</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- Nominee details -->
    <div class="row">
        <div class="col" style="margin-top: 20px; margin: bottom 20px;">
            

            <div class="nominee-details">
                <h1>Nominee Details</h1>
                <div class="form-spacing " >
                     <div  style="width: 40%;">
                            <label for="fname" class="form-label"
                              >Full Name<span>*</span></label
                            >
                            <input class="form-name" type="name" class="form-control" />
                          </div>
                          <div style="width: 40%; margin-left:25px">
                            <label for="fname" class="form-label"
                              >Relation with Nominee<span>*</span></label
                            >
                            <input class="form-name" type="name" class="form-control" />
                          </div>
                          
                </div>
                <div class="form-spacing ">
                    <div style="width: 40%;">
                      <label for="fname" class="form-label"
                        >Email ID <span>*</span></label
                      >
                      <input class="form-name" type="email" class="form-control" />
                    </div>
                    <div style="width:40%; margin-left:25px">
                      <label for="fname" class="form-label"
                        >Phone Number<span>*</span></label
                      >
                      <input class="form-name" type="name" class="form-control" />
                    </div>
                </div>
      
                
            </div>
            

        </div>
    </div>




<!-- Medical details  -->
    <div class="row">
        <div class="col">
            <div class="medical-details">
                <h1>Medical Details</h1>
                <p>
                    Do you have any pre-existing Medical Conditions?*
                </p>
                <p>Please select YES if you have a medical condition that requires you to take medications on regular basis</p>
                <div class="button-style">
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Yes</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">No</button>
                </div> 
                <div>
                    <p>Have you ever claimed under Travel Insurance?<span>*</span></p>
                </div>
                <div class="button-style">
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Yes</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">No</button>
                </div>
                <div style="margin-top:16px ;">
                   <p> Do you have any of the diseases mentioned  below?<span>*</span></p>
                   <div class="button-style">
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Diabetes</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Heart Conditions</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Asthma</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Cancer</button>
                 </div>
                   </div>
                <div class="button-style" >
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Respiratory Conditions</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Arthritis</button>
                    <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Digestive Disorders</button>
                     <button><img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/RadioButton.svg" alt="">Others</button>
                </div>

            
            
            </div>
        </div>
    </div>




  </div>

  
  
  
  <div class="col cola quote-summary">Badme karenge isko

    <div>
      <p>Quote Number: 7629918EFGH</p><img src="" alt="">
      <div></div>
    </div>
    <div class="row">
      <div class="col summary-heading" >
        <h2 class="summary-title">Trip Summary</h2>
      </div>
      <div>
        <p>Depature Date : 11/01/2023</p>
        <p>Depature Date : 11/10/2023</p>
        <p>Destination : Singapore</p>
        <p>Resident of : Mumbai, India</p>
      </div>
    </div>

    



  </div>
</div>

<!-- <div class="row border">
  <div class="col content">
    <h1>Purchase Policy</h1>
    <div>
      <p>
        Kindly complete the sections below and click on " Proceed " Immediate
        confirmation will be provided on screen and sent to your email
      </p>
    </div>
  </div>
</div>
 -->
