.cola{
    border: 2px solid red ;
}
.content>h1{
    font-size: 32px;
    font-weight: 700;
line-height: 40px;
}
.title{
    color: #0B2C5C;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 125% */
}
.content>p{
    font-size: 16px;
    font-weight: 400;
line-height: 24px;
}
.traveller-form,.ekyc-details,.nominee-details,.medical-details{
    border:2px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin-top: 32px;
}
.form-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}
label{
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%
}
.form-name{
    width: 100%;
}
span{
    color: #D9534F;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%
}
.form-detail-content>div>p>span{
    color: #37AFD4;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
.form-content{
    width:100%;
    margin-left: 9px;
}
h1{
    color: #0B2C5C;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
}
button{
    border-radius: 8px;
border: 0.5px solid #C2DDFF;
background: #FFF;
padding: 10px;
color: #333;


font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 120%;
}
.button-style{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.ekyc-contents{
    display: flex;
    gap: 16px;
}
.btn-ekyc{
    border-radius: 8px;
border: 1px solid #FED648;
background: #FEE89A;
padding: 10px 40px;
font-size: 16px;
text-align: center;


}
.btn-ekyc>img{
    transform: rotate(270deg);
}
.form-spacing{
    display: flex;
    gap: 12px;

}
.summary-heading{
    border-top: 1px solid #C0CBD8;

border-bottom: 1px solid #C0CBD8;




}
.summary-title{
    color: #0B2C5C;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 130% */
}