<div class="row" style="margin-right: 40px">
  <div class="form-holder">
    <div class="row">
      <div class="col">
        <div style="margin-top: 12px">
          <div class="form-heading">
            <h1>EKYC <span>*</span></h1>
            <div class="form-pages">
              <div class="page-no"><p class="mb-0">1</p></div>
              <div class="page-no"><p class="mb-0">2</p></div>
              <div class="page-no"><p class="mb-0">3</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Ekyc Form -->
    <div class="row" style="margin-top: 12px">
      <div class="col">
        <div>
          <div class="ekyc-contents">
            <div class="form-width">
              <label for="kyc" class="form-label"
                >Choose KYC Type<span>*</span></label
              >
              <select class="form-select" id="floatingSelectGrid">
                <option value="1"></option>
                <option value="1">Father</option>
                <option value="2">Mother</option>
                <option value="2">Daughter</option>
                <option value="2">Son</option>
                
              </select>
            </div>
            <div class="form-width">
              <label for="number" class="form-label"
                >PAN Card Number<span>*</span></label
              >
              <input class="form-name" type="name" class="form-control" />
            </div>
            <div>
              <label for="fname" class="form-label"> </label>
              <div></div>
              <button class="btn-ekyc">
                Verify
                <img
                  src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Chevron-down.svg"
                  alt=""
                />
              </button>
              <!-- <button>Verify</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Nominee Details -->
<div class="form-holder" style="margin-top: 8px">
  <div class="row " >
    <div class="col ">
      <div style="margin-top: 12px">
        <div class="form-heading">
          <h1>Nominee Details <span>*</span></h1>
        </div>
      </div>
      <div class="row" style="margin-top: 12px">
        <div class="col">
          <div class="form-content">
            <div class="form-detail">
              <label class="form-label" for="">Full Name<span>*</span></label>
              <input class="form-control" type="text" />
            </div>
            <div class="form-detail">
              <label class="form-label" for=""
                >Relation with Nominee <span>*</span></label
              >
              <select class="form-select" id="floatingSelectGrid">
                <option value="1"></option>
                <option value="1">Father</option>
                <option value="2">Mother</option>
                <option value="2">Daughter</option>
                <option value="2">Son</option>
                
              </select>
            </div>
            <div class="form-age">
              <label class="form-label" for="">Age <span>*</span></label>
              <input class="form-control" type="text" />
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row" style="margin-top: 12px">
    <div class="col">
      <div class="form-content">
        <div class="form-detail">
          <label class="form-label" for="">Email Id <span>*</span></label>
          <input class="form-control" type="text" />
        </div>
        <div class="form-detail">
          <label class="form-label" for=""
            >Phone Number <span>*</span></label
          >
          <input class="form-control" type="text" />
        </div>

    </div>
  </div>
</div>
<div class="row" style="margin-top: 12px">
  <div class="col" style="margin-top: 12px">
    <div class="btn-content">
      <div>
        <button class="btn-ekyc" routerLink="traveller-form"><img id="leftarrow" src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg" alt=""> Back </button>
      </div>
      <div>
        <button class="btn-ekyc" routerLink="/traveller-form/medical-details" replaceUrl="true">Next <img src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg" alt=""> </button>
      </div>

  </div>
</div>
</div>
</div>
