.navbar-sect {
    background-color: hsla(194, 65%, 52%, 1);
    height: 80px;
    color: white;
}

.nav-link img {
    color: white;
}

.logo {
    height: 60px;
    width: auto;
}

a {
    color: #FBFDFE;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

ul>li {
    margin-right: 10px;
}

#login {
    border-radius: 8px;
    border: 1px solid #FED234;
    background-color: #fed234;
    box-shadow: 0px 4px 16px 0px rgba(101, 75, 1, 0.25);
    padding: 0 20px;
    height: 40px;
    color: black;
}

#login img {
    transform: rotate(180deg);
    color: black;
    font-weight: 500;
    width: 20px;
}