.progress-bar {
    height: 50px;
    background-color: white;
}

.traveller-ribbon {
    height: 104px;
    border-radius: 12px;
    border-bottom: 4px solid #37AFD4;
    background: #EBF4FF;
    box-shadow: 0px 4px 16px 0px rgba(148, 163, 179, 0.25);
}

.traveller-ribbon div {
    border-left: 1px solid black;
    height: 46px;
    padding-left: 20px;
}

.traveller-ribbon div p {
    font-size: 12px;
    margin-bottom: 0;
}

.traveller-ribbon div h3 {
    font-size: 20px;
    color: #37AFD4;
    font-weight: 600;
}

.traveller-policy-filters {}

.filters {
    height: 100vh;
    border: 1px solid red;
}

.selected-filters {
    width: 100%;
    border-bottom: 4px solid #37AFD4;
    background: #EBF4FF;
    box-shadow: 0px 4px 16px 0px rgba(148, 163, 179, 0.25);
    border-radius: 12px;
}

.selected-filters .cardheader {
    padding: 30px 45px 30px 20px;
    border-bottom: 1px solid rgb(191, 189, 189);
}

.selected-filters .cardheader h3 {
    font-size: 20px;
    font-weight: 700;
}

.selected-filters p {
    padding: 20px;
}

.policy {
    height: 100vh;
    border: 1px solid blue;
}